<p>nuevo-espacio works!</p>
<h2>Nuevo Espacio</h2>

<form>
  <div class="form-item">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required>
  </div>

  <div class="form-item">
    <label for="capacidadMaxima">Capacidad Máxima:</label>
    <input type="number" id="capacidadMaxima" required>
  </div>

  <div class="form-item">
    <label for="nombreAla">Nombre del Ala:</label>
    <input type="text" id="nombreAla" required>
  </div>

  <div class="form-item">
      <label for="internet">Proyector<input type="checkbox" id="internet"> </label>
  </div>

  <div class="form-item">
      <label for="internet">Internet<input type="checkbox" id="internet"> </label>
  </div>

  <div class="form-item">
    <label for="internet">Microfono<input type="checkbox" id="internet"> </label>
  </div>

  <div class="form-item">
    <label for="internet">Parlante<input type="checkbox" id="internet"> </label>
  </div>


  <button type="submit">Guardar</button>
</form>
