<app-header></app-header>
<app-primer-componente></app-primer-componente>
<div *ngIf="edad > 7" [style.background]="edad > 5 ? 'green' : 'red'">
  Tu edad es: {{edad}}
</div>
<button class="btn btn-success"(click)="aumentarEdad()">Aumentar</button>
<button class="btn btn-danger"(click)="disminuirEdad()">Disminuir</button>

<ul>
  <li *ngFor="let n of nombres; let indice = index">({{indice}}) {{n.first_name}}</li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of nombres"><td>{{n.first_name}}</td></tr>
  </tbody>
</table>
<app-footer></app-footer>